# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

## misc

*~
jeter*
*jeter
dist
gnumake
src/lex.monmath.c
src/monmath.output
src/monmath.tab.c
src/monmath.tab.h
